.employees {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px
}

.employee {
    background-color: rgb(202, 235, 255);
    border: 2px solid rgb(113, 182, 226);
    color: rgb(30, 53, 67);
    padding: 2px;
    margin-bottom: 6px
}